extends layout

block content
  h1 What's your name?
  <form action="#">
  <div class="mdl-textfield mdl-js-textfield">
  <input class="mdl-textfield__input" type="text" id="name" name="name">
  <label class="mdl-textfield__label" for="sample1">Name...</label>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Let's Go!</button>
  </div>
  </form>
  